
.menu {
    
    background-color: #fff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-bottom: 1px solid #D9FFF5;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

}

.menu--main {
    height: 88px;
}

.menu__item{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 16px;
    text-decoration:none;
    color: black;
    font-family: "TT Lakes Medium", sans-serif;
}

.menu__item--theme--burger {
    background-image: url(assets/burger.svg);
    position: relative;
    
}



@media (min-width: 768px) {
    .menu__item--theme--burger {
        margin-right:16px;
    }

    .menu__item--theme--burger::after {
        content: "";
        position: absolute;
        
        right: -16px;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        height: 32px;
        border: 1px solid #EAEAEA;
        border-radius: 1px;
        background-color:#EAEAEA;
        
    }
}

.menu__item--theme--search {
    display: none;
}

.menu__item--theme--call {
    background-image: url(assets/call.svg);
    display: none;
    margin-left: auto;
}


.menu__item--theme--chat {
    background-image: url(assets/chat.svg);
    display: none;
}


.menu__item--theme--profile {
    background-image: url(assets/profile.svg);
    display: none;
}


.menu__item--theme--repair {
    background-image: url(assets/repair.svg);
    margin-left: auto;
    position: relative;
}

.menu__item--theme--repair::before {
    content: "";
    position: absolute;
    
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 32px;
    border: 1px solid #EAEAEA;
    border-radius: 1px;
    background-color:#EAEAEA;
    
}

@media (min-width: 768px) {
    .menu__item--theme--repair{ 
        margin-left: 32px;
    }

    .menu__item--theme--call {
        display: block;
    }

    .menu__item--theme--chat {
        display: block;
    }

    .menu__item--theme--profile {
        display: block;
    }
}


.menu__item--repair-text {
    display: none;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 40px;
    margin-right: 48px;

}

.menu__item--theme--checkstatus {
    background-image: url(assets/checkstatus.svg);
    margin-right: 16px;
    
}

.menu__item--checkstatus-text {
    display: none;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 40px;
    margin-right: 48px;
    
    
}

.logo {
    width: 97px;
    height: 51px;
    background-image: url(assets/logo.svg);
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 17px;
}



@media (min-width: 992px) {


    .menu--main {
        display: none;
    }

 
    .menu__item--theme--repair, .menu__item--theme--checkstatus {
        width: auto;
        background-position-x: right;
        margin-right: 32px;
        margin-left: 0;
        
        padding: 0;
    }

    .menu__item--repair-text,
    .menu__item--checkstatus-text {
        display: block;
    
        
    }

    .menu__item--theme--repair::before {
        display: none;
    }

}

