html {
    box-sizing: border-box;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }



.wrapper {
    max-width: 1920px;
    display: flex;
    flex-direction: column;
    font-family: "TT Lakes", sans-serif;
    margin:0;
    background-color: #F8F8F8;
}

.content {
    display: flex;
    flex-direction: column;
}


.content__heading {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: start;
    padding-top: 24px;
    vertical-align: middle;
}

.content__heading-text {
    position: relative;
    padding: 0;
    margin: 0;
    padding-left: 12px;
    font-size: 28px;
    vertical-align: middle;
}

.content__heading-text:before {
    content: "";
    position: absolute;
    border: 2px solid #41F6D7;
    border-radius: 0 5px 5px 0;
    height:40px;
    width: 4px;
    left: 0;
    top: 0;
    z-index: 10;
    background-color:#41F6D7;
}

.menu--heading-menu {
    display: none;
    padding: 0;
    font-size: 0px;
    white-space: nowrap;
    line-height: 40px;
    vertical-align: middle;
    
}


.category-menu {
    display: flex;
    font-size: 16px;
    padding-left:16px;
    padding-top: 24px;
    overflow-x:auto;
    scrollbar-width:none;
}

.category-menu::-webkit-scrollbar {
    display: none;
  }

@media (min-width: 769px) {
    .category-menu {
        padding-top: 32px;
        padding-left: 24px;
    }
}

@media (min-width: 992px) {
    .category-menu {
    padding-top: 0;
    padding-left: 32px;
    overflow: hidden;
    flex-wrap: wrap;
    }
    .category-menu__gradient {
        display:none;
    }

    .content__heading {
        padding-bottom: 8px;
        padding-top: 42px;
    }

    .content__heading-text {
        padding-left: 30px;
    }

    .menu--heading-menu {
        display: flex;
        background-color:#F8F8F8;
        border: none;
        margin-left: auto;
        font-size: 16px;
    }
   
}


.category-menu__item {
    height: 40px;
    white-space: nowrap;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    color: #7E7E82;
    font-family: "TT Lakes Medium", sans-serif;
    transition: 200ms;
   }

.category-menu__item:hover {
    color: #41F6D7;
}

.category-menu__item--active {
    background-color: #fff;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.category-menu__item--active:hover {
    color: #7E7E82;
}

.category-menu__gradient {
    position:absolute;
    height: 40px;
    width: 16px;
}

.category-menu__gradient--theme--right {
    right:0;
    background: linear-gradient(90deg, rgba(248,248,248,0) 0%, rgba(248,248,248,0.9415967070421919) 60%, rgba(248,248,248,1) 100%);
}

.category-menu__gradient--theme--left {
    width:16px;
    left:0;
    background: linear-gradient(270deg, rgba(248,248,248,0) 0%, rgba(248,248,248,0.9415967070421919) 60%, rgba(248,248,248,1) 100%);
}

.content__article-container {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    vertical-align: top;
}

@media (min-width: 769px) {
    .content__article-container {
        flex-direction: row;
        margin-top: 32px;
    }
}

.content__article {
    
    height: 90px;
    margin-left: 16px;
    margin-right: 20px; 
    overflow:hidden;
}


.content__article-text {
    margin-top:0;
    line-height: 18px;
    font-size: 14px;
}

@media (min-width: 769px) {
    .content__article {
        max-height: 32vh;
        margin-left: 24px;
        margin-right: 55px;
    }
    .content__article-text {
        line-height: 20px;
    }
}

@media (min-width: 992px) {
    .content__article {
        height:auto;
        margin-left: 34px;
    }
    
}

.content__accordion {
    padding-top: 16px;
    padding-bottom: 13px;
    font-size: 16px;
    font-weight: 500;
}

.content__accordion-href {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 24px;
    text-decoration-line: none;
    color: black;
    
}

@media (min-width: 769px) {
    .content__accordion {
        padding-top: 10px;
    }
}

@media (min-width: 992px) {
    .content__accordion-href {
        padding-left: 40px;
    }
}

.content__accordion-icon {
    background-image: url(assets/expander-icon.svg);
    background-repeat: no-repeat;
    width: 8px;
    height: 11px;
    padding-right: 16px;
}

.content__image {
    width: 100%;
}

@media (min-width: 769px) {
    .content__image {
        width: 47vw;
        border-radius: 6px;
        margin-right: 25px;
    }
}

@media (min-width: 992px) {
    .content__image {
        margin-right: 29px;
    }
}

