.expander {
  position: relative;
  padding-left: 32px;
  font-size: 16px;
  font-weight: 500;
  text-decoration-line: none;
  transition: 0.1s;
  padding-top:10px;

  @media (min-width: 768px) {
    padding-top: 10px;
  }

  &--article {
    margin-top: 16px;
    margin-bottom: 16px;

    @media (min-width: 768px) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__href {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 24px;
    text-decoration-line: none;
    color: black;
  }

  &--device-type {
    display:none;
    margin-top: 16px;
    margin-left: 16px;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &--device-brand {
    display:none;
    margin-top: 16px;
    margin-left: 16px;

    @media (min-width: 768px) {
      display: block;
    }
  }

  &--expanded {
    &::before {
      content: "";
      height: 18.4px;
      width: 8px;
      position: absolute;
      left: 8px;
      background-image: url(./img/expander-icon.svg);
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(180deg);
    }
  }

  &::before {
    content: "";
    height: 18.4px;
    width: 8px;
    position: absolute;
    left: 8px;
    background-image: url(./img/expander-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.expandable {
  &--expanded {
    height: auto;
    max-height: fit-content;
  }
}
