.footer {
  border-top: 1px solid #D9FFF5;
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-gray;
  text-align: center;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 25px;
    text-align: left;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
  }
}

.copyright {
  font: inherit;
  color: inherit;
  padding-bottom: 16px;

  @media (min-width: 768px) {
    padding-bottom: 0;
    width: 220px;
  }
}

.policy {
  font: inherit;
  color: inherit;
  padding-bottom: 16px;

  @media (min-width: 768px) {
    padding-bottom: 0;
    width: 220px;
  }
}

.disclaimer {
  margin: 0;
  padding-bottom: 19px;

  @media (min-width: 768px) {
    padding-bottom: 0;
    width: 220px;
  }
}

.tax-info {
  margin: 0;
  font-size: 14px;
  padding: 16px 16px 16px 16px;
  max-width: 442px;

  @media (min-width: 768px) {
    padding-left: 24px;
  }

  @media (min-width: 1366px) {
    padding-left: 32px;
  }
}

.request {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "TT Lakes", sans-serif;
  font-weight: 500;
  width: 215px;
  padding-left: 16px;

  @media (min-width:768px) {
    width: auto;
    padding-left: 24px;
  }

  @media (min-width: 1366px) {
    padding-left: 32px;
  }

  &__arrow {
    vertical-align: middle;
  }
}
