.swiper {
  position: relative;

  &--prices {
    height: 231px;

    @media (min-width: 768px) {
      height:auto;
    }
  }

  &--brands {
    &:after {
      content: "";
      position:absolute;
      height: 72px;
      width: 16px;
      right:0;
      top: 16px;
      z-index: 100;

      background: linear-gradient(90deg, rgba(248,248,248,0) 0%, rgba(248,248,248,0.9415967070421919) 60%, rgba(248,248,248,1) 100%);

      @media (min-width: 768px) {
        display:none;
      }
    }

    &:before {
      content: "";
      position:absolute;
      height: 72px;
      width:16px;
      left:0;
      top: 16px;
      z-index: 100;
      background: linear-gradient(270deg, rgba(248,248,248,0) 0%, rgba(248,248,248,0.9415967070421919) 60%, rgba(248,248,248,1) 100%);

      @media (min-width: 768px) {
        display:none;
      }
    }
  }

  &--device-type {
    &:after {
      content: "";
      position:absolute;
      height: 160px;
      width: 16px;
      right:0;
      top: 16px;
      z-index: 100;

      background: linear-gradient(90deg, rgba(248,248,248,0) 0%, rgba(248,248,248,0.9415967070421919) 60%, rgba(248,248,248,1) 100%);

      @media (min-width: 768px) {
        display:none;
      }
    }

    &:before {
      content: "";
      position:absolute;
      height: 160px;
      width:16px;
      left:0;
      top: 16px;
      z-index: 100;
      background: linear-gradient(270deg, rgba(248,248,248,0) 0%, rgba(248,248,248,0.9415967070421919) 60%, rgba(248,248,248,1) 100%);

      @media (min-width: 768px) {
        display:none;
      }
    }
  }

  &--prices {
    &:after {
      content: "";
      position:absolute;
      height: 200px;
      width: 16px;
      right:0;
      top: 16px;
      z-index: 100;

      background: linear-gradient(90deg, rgba(248,248,248,0) 0%, rgba(248,248,248,0.9415967070421919) 60%, rgba(248,248,248,1) 100%);

      @media (min-width: 768px) {
        display:none;
      }
    }

    &:before {
      content: "";
      position:absolute;
      height: 200px;
      width:16px;
      left:0;
      top: 16px;
      z-index: 100;
      background: linear-gradient(270deg, rgba(248,248,248,0) 0%, rgba(248,248,248,0.9415967070421919) 60%, rgba(248,248,248,1) 100%);

      @media (min-width: 768px) {
        display:none;
      }
    }
  }
}

.swiper-pagination {
  position: static;
  top: initial;
}

.swiper-pagination-bullet {
  background-color: $swiper-bullet-base;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: $swiper-bullet-active;
  opacity: 1;
}

.items-list {
  font-family: "TT Lakes", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  padding: 16px 0 0px 16px;
  max-height: 176px;

  @media (min-width: 768px) {
    flex-wrap: wrap;
  }

  &--prices {
    font-family: "TT Lakes", sans-serif;
    font-size: 14px;
    max-height: 216px;

    @media (min-width: 768px) {
      flex-direction: column;
      padding: 0 24px 0 24px;
      max-height:fit-content;
    }
  }
}

.card {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 20px 16px;
  flex-basis: 240px;
  height: 72px;
  background-color: white;
  margin-right: 16px;
  border: 1px solid $border-gray;
  border-radius: 6px;

  @media (min-width: 768px) {
    margin-bottom: 16px;
  }

  &__logo {
    width: 128px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: initial;
    background-position: 0px center;

    &--lenovo {
      background-image: url('./img/logo_lenovo.png');
    }

    &--samsung {
      background-image: url('./img/logo_samsung.png');
    }

    &--apple {
      background-image: url('./img/logo_apple.png');
    }

    &--viewsonic {
      background-image: url('./img/logo_viewsonic.png');
    }

    &--bosch {
      background-image: url('./img/logo_bosch.png');
    }

    &--hp{
      background-image: url('./img/logo_hp.png');
    }

    &--acer {
      background-image: url('./img/logo_acer.png');
    }

    &--sony {
      background-image: url('./img/logo_sony.png');
    }
  }

  &__go {
    height: 40px;
    width: 40px;
    margin-left: auto;
    background-image: url('./img/go.svg');
    background-repeat: no-repeat;
    background-position: 100% 100%;
    transition: 0.2s;

    &:hover {
      filter: opacity(0.6);
    }

    &:active {
      filter: grayscale(0.7);
    }

    &--devices {
      margin: 16px 16px 16px 16px;
      width: 100%;
      height: 128px;
    }

    &--prices {
      background-image: url('./img/prices_bg.svg');
      position:absolute;
      right: 16px;
      bottom: 16px;
      width: 120px;
      height: 32px;

      @media (min-width: 768px) {
        position: static;
        margin-right:16px;
      }
    }
  }

  &__table-head {
    display: none;
    flex-direction: row;
    flex-grow:1;
    flex-basis:auto;
    margin: 0;
    color: $text-gray;
    height: 46px;
    width: auto;
    padding-top: 31px;
    padding-left: 24px;
    background-color: $main-bgc;
    border: none;
    margin-top: 15px;



    @media (min-width: 768px) {
      display: flex;
    }

    &::after {
      content: "";
      width: 120px;
      margin-left: auto;
    }
  }

  &__caption {
    margin: 16px auto 4px 16px;
    color: $text-gray;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__service-name {
    margin: 0 auto 0 16px;

    @media (min-width: 768px) {
      width: 350px;
      margin: 0;
      text-align: left;
    }
  }

  &__service-price {
    margin: 0 auto 0 16px;
    width: 80px;

    @media (min-width: 768px) {
      margin: 0;
      margin-left: auto;
      text-align: left;
    }
  }

  &__service-term {
    margin: 0 auto 16px 16px;
    width: 85px;

    @media (min-width: 768px) {
      margin: 0;
      margin-left: auto;
      text-align: left;
    }
  }

  &--devices {
    height: 160px;
    padding: 0;
  }

  &--prices {
    height: 200px;
    width: 260px;
    flex-basis:auto;
    flex-direction: column;
    padding: 0;

    @media(min-width: 768px) {
      flex-direction: row;
      height:64px;
      margin: 0;
      padding-left: 24px;
      width:auto;
      flex-grow:1;
      border:none;
      border-radius: 0;

      &::after {
        content: "";
        position:absolute;
        width: 95%;
        height: 1px;
        background-color: $border-gray;
        bottom:0;
        left: 50%;
        transform: translate(-50%);
      }

      &:first-of-type {
        border-radius: 6px 6px 0 0;
      }

      &:last-child {
        border-radius: 0 0 6px 6px;

        &::after {
          display:none;
        }
      }
    }
  }
}

.border-gradient {
  position: absolute;
  width: 16px;
  top: 16px;
  z-index: 100;

  @media (min-width:768px) {
    display:none;
  }

  &--right {
    height: 72px;
    right:0;
    background: linear-gradient(90deg, rgba(248,248,248,0) 0%, rgba(248,248,248,0.9415967070421919) 60%, rgba(248,248,248,1) 100%);
  }

  &--left {
    height: 72px;
    left:0;
    background: linear-gradient(270deg, rgba(248,248,248,0) 0%, rgba(248,248,248,0.9415967070421919) 60%, rgba(248,248,248,1) 100%);
  }

  &--devices {
    height: 160px;
  }

  &--prices {
    height: 200px;
  }
}
