.content-section {
  background-color: #F8F8F8;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    padding-bottom: 50px;
  }
}

.section-heading {
  border-top: 1px solid $border-light;
  background-image: linear-gradient(to right, $main-bgc, white);
  padding: 16px 24px;

  &__text {
    font-size: 16px;
    color: $text-gray;
    margin: 0 0;
  }
}
