$main-bgc: #F8F8F8;
$border-light: #D9FFF5;
$border-standart: #B8FFEC;
$border-dark: #41F6D7;
$border-gray: #EAEAEA;
$text-gray: #7E7E82;
$swiper-bullet-base: #DDDDDD;
$swiper-bullet-active: #B5B6BC;
$sec-href: #FF3E79;
$transparent: rgba(248,248,248,0);
